<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaFact.Properties.Settings.SisFacturacionConnectionString"
            connectionString="Data Source=DESKTOP-6VHHMUG\SQLEXPRESS02;Initial Catalog=SisFacturacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>